@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body{background:#f5f5f5;font-family: 'Lato', sans-serif !important;}
a{transition:all .5s ease;}
.mainbox{margin-top:20px;}
.mainbox-top.mainbox-top { margin-top:10%;
}
.mainbox.mainbox-signup { margin-top:10px;
}
.mainbox.mainbox-signup.mainbox-top { margin-top:6%;}
.mainbox h1 {
	text-align: center;
	font-size: 24px;
	color: #555462;
	margin-bottom: 20px;
}
.mainbox.mainbox-signup .panel-footer {
	padding: 5px 25px;
}
.copy { padding-top:10px;}
.mainbox .panel{border-radius:5px; border-color:transparent; padding:50px 20px; position:relative;}
.mainbox.mainbox-signup  .panel{ padding:20px 20px 0 20px;}
.mainbox .panel-body{padding:15px 25px 20px 25px; padding-bottom:0;}
.mainbox .panel-heading{padding:10px 25px; border-radius:0;  position:relative;}
/*.login .panel-title:after{position:absolute; width:30px; height:3px; color:#f00; top:-5px; content:''; background-color:#6cca61; left:0; }*/
.panel-title { position:relative;font-size:18px;} 
.mainbox .panel-footer{padding:15px 25px;}
.mainbox .input-group{margin-bottom:15px;}
.col-sm-31 .form-control {
    width: 99%;
}

.signup-wrapper {border-left:1px #eeeeee solid;}
.mainbox .signup-wrapper  .panel-body{ padding:15px 25px;}
.login-wrapper {border-left:1px #eeeeee solid;}
.login-form  .input-group .form-control{ border-radius:25px; height:36px; line-height:36px; padding-right:30px;}
.login-form .input-group { display:block;}
.login-form .input-group-addon {
	padding: 6px 12px; position:absolute; z-index:999;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #6cca61;
	text-align: center;
background-color: transparent; 
 border: none; 
	border-radius: 4px;
	right: 15px;
	top: 5px;
}
.login-wrapper { margin-top:30px;}
.panel-footer {
	padding: 7px 15px;
	background-color: transparent;
	border-top: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}

.input-group .form-control { float:none; display:block;}
.wrapper{ background-color:#fff; background:#fff url('../Content/images/bg-ting.png') repeat-y; min-height:100vh;}
.left-sidebar{width:220px; float:left; height:100%; background:#ffffff;     box-shadow: -5px 0 6px 3px #333; transition:all .5s ease;}
.left-sidebar h1{color:#fff; text-align:center; padding:15px 0; margin:0; background:#ffffff; font-size:23px;}
.left-sidebar h1 small{color:#fff; display:block; font-size:15px; font-weight:normal;}
.left-sidebar ul, .left-sidebar li{margin:0; padding:0;}
.left-sidebar li{border-bottom:solid 1px rgba(255,255,255,.2)}
.left-sidebar li a{display:block; padding:15px; color: #607D8B; font-family: 'Roboto', sans-serif;}
.left-sidebar li a:hover , .left-sidebar li a.active ,.left-sidebar li a:focus{text-decoration:none; background:#ececec; outline:none;color: #F44336;}
.left-sidebar li li{border:none;}
.left-sidebar li li a{padding:5px 0; margin-left:25px; display:inline-block;}
.left-sidebar li li a:hover{text-decoration:none; background:none; color:rgba(255,255,255,.5)}
.open-sidebar .left-sidebar{margin-left:0;}
.desktop-sidebar .left-sidebar{margin-left:-220px;}
.contact-wrapper{overflow:hidden;}
.mobile-menu{display:none;}
.left-sidebar .fa-bars{display:none;}

.top-head{background:#6cca61; box-shadow: 0 3px 3px rgba(0,0,0,.1); min-height:70px; text-align:right; position:relative;}
.top-head ul{margin:0; padding:0;}
.top-head li{display:inline-block; list-style-type:none; border-left:solid 1px #ccc; margin-left:-4px;} 
.top-head li a{padding:20px; display:block; color:#fff; font-size:20px; text-decoration:none;}
.top-head li a span{font-size:16px;}
.top-head li a:hover{background:#375563;}
.top-head .notifications{position:relative;}
.top-head .notifications .badge{position:absolute; top:10px; right:5px; background:red; width:20px; height:20px; line-height:20px; text-align:center; padding:0; display:inline-block;}

.page-heading {
	font-size: 23px;
	margin-bottom: 20px;
	color: #777;
	border-bottom: 1px #e5e5e5 solid;
	padding-bottom: 15px;
}
.dashboard-heading{padding:20px;  margin:0;}
.dashboard{padding:0 25px;}
.dashboard .panel{border-radius:0; border:none; text-align:center; margin-left: 10px;margin-right: 10px; margin-top:10px; 
 -webkit-box-shadow:  0 0 20px 0 rgba(12, 15, 11, 0.14);box-shadow: 0 0 20px 0 rgba(12, 15, 11, 0.14);}
.dashboard .panel h3{margin-bottom:0;}
.dashboard .panel a:hover{text-decoration:none;}
.dashboard .panel-body{background:#fff; border:solid 1px #eee; border-bottom:0; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05); padding:15px 10px;}
.dashboard .panel-footer{font-size:20px; border-radius:0; boder:none;}
.bg-color-green .panel-footer{background:#5cb85c; color:#fff;}
.bg-color-green, .bg-color-green a{color: #5cb85c;}

.bg-color-blue .panel-footer{background:#4CB1CF; color:#fff;}
.bg-color-blue, .bg-color-blue a{color: #4CB1CF;}

.bg-color-red .panel-footer{background:#F0433D; color:#fff;}
.bg-color-red, .bg-color-red a{color: #F0433D;}

.bg-color-brown .panel-footer{background:#f0ad4e; color:#fff;}
.bg-color-brown, .bg-color-brown a{color: #f0ad4e;}


.white-box {background: #fff; padding: 15px;/* -webkit-box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.1), 0px 1px 5px 1px rgba(0, 0, 0, 0.2), 0px 2px 5px 1px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.1), 0px 1px 5px 1px rgba(0, 0, 0, 0.2), 0px 2px 5px 1px rgba(0, 0, 0, 0.2);*/ height:100%;}

.pagination-wrapper{text-align:right;}
.pagination{margin:0;}
.breadcrumb{margin:0; padding:20px; background: #f2f2f2; border-radius:0;}


.btn{border-radius:0; border:none; padding:5px 20px; font-size:16px;}
.btn-primary.btn-gray{ background-color:#666;}
.login-wrapper  .btn{ width:100%; border-radius:25px; padding:8px 10px; font-size:16px; margin-top:10px;}
.signup-wrapper  .btn{ width:100%; border-radius:25px; padding:8px 10px; font-size:16px; margin-top:10px;}


.mobile-menu, .desktop-menu{text-align:left; padding:20px; }
.mobile-menu i, .desktop-menu i{ color:#fff; font-size:24px; cursor:pointer;}

.login { background:url('../Content/images/login-bg.png') no-repeat;  height:100vh; width:100%; background-size:cover;}
.left-side-content-signup {   text-align: center;
    transform: translatey(90%);}

.login-form-add .input-group { margin-bottom:20px;}
/*.left-side-content-signup img { width:100%;}
.left-side-content img { width:100%;}*/
.left-side-content {
    text-align: center;
    transform: translatey(50%);
}
.form-horizontal .control-label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
	font-weight: normal;
} 
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	 -webkit-box-shadow: none; */
	 box-shadow: none; */
	 -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
.mt50{ margin-top:50px;}
.mt60{ margin-top:60px;}
.mt70{ margin-top:70px;}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #157405;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
 .login-form.login-form-add .input-group .form-control{
	display: table-cell;
	width: 100%;
	height: 35px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: none;
	*/ box-shadow: none;
	*/ -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	*/ -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.login-form.login-form-add .input-group { display:table;}
.table > thead > tr > th	{ background:rgba(0,0,0,0.1);padding:10px;}
.table > thead > tr > td, .table  > thead > tr > th { padding:10px;
	border-top:0 !important; border-left:0 !important; border-top:0 !important; border-bottom:0 !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 10px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 0;
}
.btn{ background-color:#00b336;}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left !important;
	padding: 6px 12px !important;
	margin-left: -1px !important;
	line-height: 1.42857143 !important;
	color: #00b336 !important;
	text-decoration: none !important;
	background-color: #fff !important;
	border: 1px solid #ddd !important;
}
.pagination > li.active > a, .pagination > li.active > span {background-color: #00b336 !important; color:#fff !important;
}
.table > tbody > tr > td .glyphicon { font-size:16px; margin-right:10px; color:#00b336;}
    .table > tbody > tr > td .glyphicon.glyphicon-remove { color:#f00;
    }
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
	z-index: 2;
	color:#00b336;
	background-color: #eee;
	border-color: #ddd;
}
.table-striped > tbody > tr {
	background-color: #f1f1f1;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #fff;
}
.dsahboard-highlights { margin:0 15px;  background:#3decb1; padding:15px 15px 8px 15px; clear:both; overflow:hidden; margin-bottom:20px; 
color:#fff;}
.dsahboard-highlights span{ color:#000; font-size:16px;text-transform:uppercase; margin-left:10px;}
.dsahboard-highlights label{ color:#000; font-weight:normal;font-size:16px; text-transform:uppercase;}
.top-head  .dropdown-menu{ left:auto; right:10px;}
.top-head  .dropdown-menu li{ display:block; margin:0;}
.top-head  .dropdown-menu li a{ color: #000;padding: 7px;font-size: 15px;}
.top-head .dropdown-menu li a:hover , .top-head .dropdown-menu li a:focus, .top-head .dropdown-menu li a.active{ color:#fff;}
.caret-left { margin-left:8px;}



.company-profile-setting .nav-tabs { border-bottom: 2px solid #DDD; }
.company-profile-setting     .nav-tabs > li.active > a, .company-profile-setting .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
 .company-profile-setting   .nav-tabs > li > a { border: none; color: #666; }
 .company-profile-setting       .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.company-profile-setting        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
 .company-profile-setting   .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.company-profile-setting .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.company-profile-setting .tab-pane { padding: 15px 0; }
.company-profile-setting .tab-content{padding:20px}

.company-profile-setting .card {background: #FFF none repeat scroll 0% 0%;  margin-bottom: 30px; }

.social-sharing{padding-top:20px; color:#1f3b58; font-weight:500;}
.social-sharing li{display:inline-block; padding:0; padding-right:50px;}
.social-sharing img{vertical-align:middle; margin-right:5px;}

.radio input[type=radio] {
   visibility: hidden;
}   
.radio input + label::before {
    display:inline-block;
	width:14px;
	height:14px;
	background:url(../images/checkbox.png) no-repeat 0 0;
	content:'';
	vertical-align:middle;
	margin-right:7px;
	margin-bottom:.2em;
}

.radio input:checked + label::before {
    background-position:-14px 0;
}

.social-radio-button li {

	
	color: #000;
	font-size: 13px;
	
}
.social-radio-button ul{ margin:0; padding:0;}
.checkbox label, .radio label{ padding-left:0;}
.profile-image { width:100px; height:100px; border-radius:100px; border:1px #ccc solid; margin-top:10px; }
.img-circle { width: 95px;
height: 96px;object-fit: contain;}
.input-group.input-group-padding { margin-bottom:0;}
.company-profile .login-form.login-form-add .input-group {
	display: table;
	width: 100%;
} 
.company-profile .login-form .input-group-addon {
	padding: 6px 12px;
	position: absolute;
	z-index: 999;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #000;
	text-align: center;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	right: auto;
	top: 3px;
}
.company-profile .login-form .form-control{ padding-left:5px !Important;}
.company-profile  .login-form-add .input-group{ margin-bottom:0;}
.modal-dialog { width:500px; padding-top:5%; border-radius:0;}
.modal-header h5{ float:left;font-size:18px; color:#fff;}
.modal-footer { text-align:left;}
.modal-body{ padding:15px; font-size:14px;}
.modal-header { background:#52b94a;color:#fff;}
.modal-header .close { color:#fff; opacity:1;}
.modal-content {border-radius:0}
	.copy-right{ text-align: center;
color: #999;
font-size: 13px;}
.fa-5x {
	font-size: 4em;
}

.date-custom input{   width: 83%;
margin-left: 10px;
height: 33px;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #52b94a;
	border-color: #52b94a;
}
.btn.active.focus, .btn.active:focus, .btn.active:hover, .btn:active.focus, .btn:active:focus, .btn:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #52b94a;
	border-color: #52b94a;
}
.login-wrapper .panel-footer a{color:#52b94a;}
.btn:hover{background-color: #52b94a;}
.date-custom .btn { float:left; margin-left:20px;}
.date-custom { margin-bottom:20px;}
.date-style { display:inline-block; vertical-align:middle; position:relative; width:26%;}
.date-style.btn-left{ margin-left:-5px; width:10%;}
.date-style .fa {     position: absolute;
    right: 18px;
    top: 10px;
}
.date-custom  input.date-cst{  width: 83%;
    display: inline-block;
    vertical-align: middle;}
.date-style label	{    display: inline-block;
    /* max-width: 100%; */
    margin-bottom: 5px;
    font-weight: 700;
    width: 12%;
    vertical-align: middle;
}

.add-picker { position:relative;}
.add-picker:after  {content: "\f073";display: inline-block;

font: normal normal normal 14px/1 FontAwesome; position:absolute; top:0; right:0; padding-left:30px;}
.date-custom-pickers { margin-bottom:20px; clear:both;}
.date-custom-pickers {}
.btn-submit { margin-left:10px;}
.desktop-sidebar .wrapper  { background:none;}
.form-group-cu label input {
	margin-right: 10px;
}
.mb10{ margin-bottom:20px !important;}
.input-group-addonicon {display: inline-block;width: 90%;}
.input-group-id {display: inline-block;vertical-align: top;margin-left: 5px; position:relative; margin-top:7px}
.input-group-id  .fa{ font-size:16px; font-weight:normal; color:#fff; background:#6cca61;width:25px; cursor:pointer;height:25px; line-height:25px; text-align:center; border-radius:100px;}
.input-group-id	.help-center{
	position: absolute;
	width: 250px;
	z-index: 999;
	border: 1px #ccc solid;
	top: 100%;
	left: 0;
	background: #fff; 
	padding: 10px; visibility:hidden;
}
.breadcrumb > li a{ color:#6cca61;}
.input-group-id	.help-center p{ font-size:16px;}
.input-group-id:hover  .help-center{ visibility:visible;}
.help-center ul li{  font-size:13px; color:rgba(0,0,0,0.5);}
.input-group-id .help-center p.short-tag {font-size:13px; color:rgba(0,0,0,0.5);}
.help-center ul { margin:0 0 0 10px; padding:0;}
.pb30 { padding-bottom:50px;}
.image-section-about  img{ display:inline-block;  margin:0 auto;}

#loginbox .field-validation-error.text-danger {
    color: #f00;
    margin: 5px 0 0 15px;
    display: inline-block;
}

.forgot-password{text-align:right; display:block;}
.forgot-password a{color:#00b336;}
.mainbox .panel .alert {
	position: absolute;
	top: 10px;
	width: calc(100% - 40px);
	z-index: 999;
}

.mainbox .panel .alert-warning {
	  background-color: #fcf8e3;
    border-color: #faebcc;
	position: absolute;
	top: 10px;
	width: calc(100% - 40px);
	z-index: 999;
}
/*Signup Page css*/
.thanks-msg{margin:5% 0 10% 0;} 
.mainbox.mainbox-thanks .alert-success{position:static; padding:25px; max-width:500px; margin:0 auto; margin-bottom:30px;}
.mainbox.mainbox-thanks .alert-warning{position:static; padding:25px; max-width:500px; margin:0 auto; margin-bottom:30px;}
.mainbox.mainbox-thanks .alert-danger{position:static; padding:25px; max-width:500px; margin:0 auto; margin-bottom:30px;}
.mainbox-thanks .fa{font-size:6em;} 
.mainbox-thanks h2{margin:0; padding:0;} 
.mainbox-thanks .panel{padding:25px;} 
.mainbox-thanks .copy-right{margin-top:25px;}
.unauthorized-user{text-align:center;}
 .unauthorized-user .fa{font-size:6em;}

 #loginbox .fa{margin:10px 0;}
 .text-danger{color:#f00;}
 .step-title{padding:10px; padding-right:30px; display:inline-block; color:#333; background:#3decb1; margin-bottom:20px; position:relative; font-size:16px;}
    .step-title:after {width: 0; 
  height: 0; 
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  
  border-left: 21px solid #3decb1;
  position:absolute;
  right:-20px;
  top:0;
  content:'';
    }

    /*19-04-2018*/

.about-wrapper-cnt {
    max-width: 520px;
    margin: 0 auto;
    padding: 0 30px;
    background: #52b94a;
}

    .about-wrapper-cnt h2 {
        color: #3f3d3d;
        margin-top: 0;
        font-size: 32px;
    }

    .about-wrapper-cnt h3 {
        color: #3f3d3d;
        margin-top: 0;
        font-size: 25px;
        font-weight: 300;
    }

    .about-wrapper-cnt p {
        color: #ddf1da;
        font-size: 14px;
        padding: 20px 0;
        display: block;
    }

.support-about a {
    color: #ddf1da;
    font-size: 16px;
  
   
}
.support-about {
    text-decoration: underline; cursor:pointer;
}
.about-wrapper-cnt-outer {
    padding: 50px 0;
}
    
.thanks-msg.thanks-msg-popup { margin-bottom:6%;
}
.table.dataTable thead > tr > th { border:0;
}

.table.dataTable thead > tr > td { border:0;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th,
 .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {border:0;
}
.table-bordered { border:0;
}
btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #52b94a;
    border-color: #52b94a;
}
.help-group { position:relative;
}
.input-group-id {
    right: -20px; position:absolute;
    top: 6px;
    margin: 0;

}
.sslcheckbox
{
    margin:11px 0px 0px !important;
}
.Loader {
    display: block;
    position: absolute;
    top: 49.3%;
    left: 48.5%;
}
.LoaderPopup {
    display: block;
    float: right;
    z-index: 999999;
    color: black;
}

#form-nfrastructure .input-group-id{position:relative; margin:5px 0 0 5px; top:0; left:0;}
.input-group.input-group-ui-con {
    border: 1px solid #ccc; border-radius:25px;    padding: 6px;
}
    .input-group.input-group-ui-con .form-alter-gr {
        border: 0;
        border-radius: 0;
    }
.login-wrapper .btn {    background-color: #00b336 !important;
}
.signup-wrapper .btn{ background-color: #00b336 !important;}
}
.login-wrapper .btn:hover{
    background-color: #52b94a !important;
}

.signup-wrapper .btn:hover{
    background-color: #52b94a !important;
}
.form-group-contact-flag .intl-tel-input { padding-right:0;
}
.company-profile .login-form .form-group-contact-flag .form-control {
    padding-left:45px !important;
}

/**26-04-2018**/
.help-center .glyphicon {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 12px;
    background: #6cca61;
    color: #fff;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    top: 0;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}

.panel-title a {
    color: #777;
    font-family: 'Lato', sans-serif !important;
}

    .panel-title a:hover {
        text-decoration: none;
    }
.modal.modal-about-popups { padding:0;
}
    .modal.modal-about-popups .white-box {
        padding: 0;  background:#52b94a;
    }
    .modal.modal-about-popups .modal-body { padding:0;
    }
.support-about {
    color: #ddf1da;
}
.radio-cst-code input {    margin-right: 3px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
}
.radio-cst-code {     font-weight: normal;
    margin: 0px 0 0 0;
    vertical-align: top;
}
.backup-dis { font-size:16px;
}
.table-pup-wrap { overflow:auto; height:250px;
}
    .table-pup-wrap .table tr th,.table-pup-wrap .table tr td { padding:5px;
    }

.padding-left { padding-left:0 !important;
}
.mblockt-10 { padding-top:6px !important;
}
.job-portal-step3 .form-group { margin-bottom:10px !important;
}
.button-top { margin-top:10px; margin-bottom:10px;
}
.job-portal { overflow:hidden; clear:both;
}

.form-group-contact .form-alter-gr { width:100%;
}
/*css for cookies*/
.alert-cookies { position:absolute; top:20px; font-size:13px; z-index:999; background-color:#3decb1; width:97%;  padding:10px 10px 5px 10px;}
.alert-cookies .btn{ float: right; background-color:#f1f1f1;color:#333;
margin-top:0; }
.alert-cookies  p{ margin:5px 0 0 0;}
.alert-cookies-bottom {background-color:#3decb1;  padding:10px 10px 5px 10px; margin-bottom:0; border-radius:0; font-size:14px; line-height:normal;}
.alert-cookies-bottom .btn{ float: right; background-color:#f1f1f1;color:#333;
margin-top: 2px;}
.inntel-contact-no .intl-tel-input { padding-right:0;
}
}
 td a.details-control {
        background: url('../../Content/images/down-arrow.png') no-repeat center center;    
        cursor: pointer;
    }
 .btn.btn-primary.incomplete{padding:5px; font-size:12px; background:#dc3545; vertical-align:middle; margin-bottom:.5em;}
.help-center .glyphicon {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 12px;
    background: #6cca61;
    color: #fff;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    top: 0;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}

.panel-title a {
    color: #777;
    font-family: 'Lato', sans-serif !important;
}

    .panel-title a:hover, .panel-title a:focus {
        text-decoration: none;
        outline: none;
    }

.col-sm-31 .form-control {
    width: 90%;
}

.alert-cookies {
    position: absolute;
    top: 20px;
    font-size: 13px;
    z-index: 999;
    background-color: #3decb1;
    width: 97%;
    padding: 10px 10px 5px 10px;
}

    .alert-cookies .btn {
        float: right;
        background-color: #f1f1f1;
        color: #333;
        margin-top: 0;
    }

    .alert-cookies p {
        margin: 5px 0 0 0;
    }

.alert-cookies-bottom {
    background-color: #3decb1;
    padding: 10px 10px 5px 10px;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 14px;
    line-height: normal;
}

    .alert-cookies-bottom .btn {
        float: right;
        background-color: #f1f1f1;
        color: #333;
        margin-top: 2px;
    }

.help-list li {
    list-style: none;
    padding: 3px 0;
}

.help-message-instruction {
    margin: 15px 10px;
    display: inline-block;
    vertical-align: top;
    width:47%;
}

.help-list ul {
    margin: 0;
    padding: 0;
}
.left-sidebar li.about_focus a:focus {
    background: none;
}

.time-dropdown .form-control{
font-size:12px;
padding-right:0;
}
.loader {
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 0;
    width: 100%;
    background: #00000029;
    height: 100%;
    right: 0;
}

.session-data{ background:#f2f2f2;}
.session-data h3{ background:#6cca61; padding:10px 10px; color:#fff;}
.deatil-log ul{ margin:0; padding:0;}
.deatil-log { padding:0 10px 20px 10px;}
.deatil-log ul li{ margin:0; padding:0; list-style:none; clear:both;}
.deatil-log ul li label{ font-weight:600; width:120px; float:left;}
.table-top { margin-top:40px;}
.table-top  .fa{ margin-right:10px; font-size:20px;}
.table-top  .fa-times-circle{ color:red;}
.table-top  .fa-check-circle{ color:green;}
.table-top  .fa-warning{ color:#f2c973;}
.page-heading.page-heading-0{ margin-bottom:20px;}
.job-session-time { background:#f2f2f2; overflow:hidden; clear:both; 
 }
.session-data {     float: left;
    width: 25%;
    margin: 15px 0 0 0;
}

.job-session-time h3{ 
    margin: 0;  background:#6cca61;
    padding: 7px 10px; color:#fff;
}
.deatil-log ul li span { color:rgba(51,51,51,0.8);
}
.page-heading  span{  font-size:20px;
}

.help-message-instruction.help-message-instruction-block {
    display: block;
    width: 100%;
}
.help-message-instruction img {
    max-width: 100%;
    border: 1px #ccc solid;
}

.panel-title .accordion-toggle[aria-expanded="true"] .fa::before {

    content: "\f068";

}
.panel-title .accordion-toggle .fa { float:right; color:#fff; background:#6cca61; width:25px;height:25px;line-height:25px; text-align:center; font-size:14px; border-radius:100px;
}
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body{background:#f5f5f5;font-family: 'Lato', sans-serif !important;}
a{transition:all .5s ease;}
.mainbox{margin-top:20px;}
.mainbox-top.mainbox-top { margin-top:10%;
}
.mainbox.mainbox-signup { margin-top:10px;
}
.mainbox.mainbox-signup.mainbox-top { margin-top:6%;}
.mainbox h1 {
	text-align: center;
	font-size: 24px;
	color: #555462;
	margin-bottom: 20px;
}
.mainbox.mainbox-signup .panel-footer {
	padding: 5px 25px;
}
.copy { padding-top:10px;}
.mainbox .panel{border-radius:5px; border-color:transparent; padding:50px 20px; position:relative;}
.mainbox.mainbox-signup  .panel{ padding:20px 20px 0 20px;}
.mainbox .panel-body{padding:15px 25px 20px 25px; padding-bottom:0;}
.mainbox .panel-heading{padding:10px 25px; border-radius:0;  position:relative;}
/*.login .panel-title:after{position:absolute; width:30px; height:3px; color:#f00; top:-5px; content:''; background-color:#6cca61; left:0; }*/
.panel-title { position:relative;font-size:18px;} 
.mainbox .panel-footer{padding:15px 25px;}
.mainbox .input-group{margin-bottom:15px;}
.col-sm-31 .form-control {
    width: 99%;
}

.signup-wrapper {border-left:1px #eeeeee solid;}
.mainbox .signup-wrapper  .panel-body{ padding:15px 25px;}
.login-wrapper {border-left:1px #eeeeee solid;}
.login-form  .input-group .form-control{ border-radius:25px; height:36px; line-height:36px; padding-right:30px;}
.login-form .input-group { display:block;}
.login-form .input-group-addon {
	padding: 6px 12px; position:absolute; z-index:999;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #6cca61;
	text-align: center;
background-color: transparent; 
 border: none; 
	border-radius: 4px;
	right: 15px;
	top: 5px;
}
.login-wrapper { margin-top:30px;}
.panel-footer {
	padding: 7px 15px;
	background-color: transparent;
	border-top: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}

.input-group .form-control { float:none; display:block;}
.wrapper{ background-color:#fff; background:#fff url('../Content/images/bg-ting.png') repeat-y; min-height:100vh;}
.left-sidebar{width:220px; float:left; height:100%; background:#ffffff;     box-shadow: -5px 0 6px 3px #333; transition:all .5s ease;}
.left-sidebar h1{color:#fff; text-align:center; padding:15px 0; margin:0; background:#ffffff; font-size:23px;}
.left-sidebar h1 small{color:#fff; display:block; font-size:15px; font-weight:normal;}
.left-sidebar ul, .left-sidebar li{margin:0; padding:0;}
.left-sidebar li{border-bottom:solid 1px rgba(255,255,255,.2)}
.left-sidebar li a{display:block; padding:15px; color: #607D8B; font-family: 'Roboto', sans-serif;}
.left-sidebar li a:hover , .left-sidebar li a.active ,.left-sidebar li a:focus{text-decoration:none; background:#ececec; outline:none;color: #F44336;}
.left-sidebar li li{border:none;}
.left-sidebar li li a{padding:5px 0; margin-left:25px; display:inline-block;}
.left-sidebar li li a:hover{text-decoration:none; background:none; color:rgba(255,255,255,.5)}
.open-sidebar .left-sidebar{margin-left:0;}
.desktop-sidebar .left-sidebar{margin-left:-220px;}
.contact-wrapper{overflow:hidden;}
.mobile-menu{display:none;}
.left-sidebar .fa-bars{display:none;}

.top-head{background:#607D8B; box-shadow: 0 3px 3px rgba(0,0,0,.1); min-height:70px; text-align:right; position:relative;}
.top-head ul{margin:0; padding:0;}
.top-head li{display:inline-block; list-style-type:none; border-left:solid 1px #ccc; margin-left:-4px;} 
.top-head li a{padding:20px; display:block; color:#fff; font-size:20px; text-decoration:none;}
.top-head li a span{font-size:16px;}
.top-head li a:hover{background:#375563;}
.top-head .notifications{position:relative;}
.top-head .notifications .badge{position:absolute; top:10px; right:5px; background:red; width:20px; height:20px; line-height:20px; text-align:center; padding:0; display:inline-block;}

.page-heading {
	font-size: 23px;
	margin-bottom: 20px;
	color: #777;
	border-bottom: 1px #e5e5e5 solid;
	padding-bottom: 15px;
}
.dashboard-heading{padding:20px;  margin:0;}
.dashboard{padding:0 25px;}
.dashboard .panel{border-radius:0; border:none; text-align:center; margin-left: 10px;margin-right: 10px; margin-top:10px; 
 -webkit-box-shadow:  0 0 20px 0 rgba(12, 15, 11, 0.14);box-shadow: 0 0 20px 0 rgba(12, 15, 11, 0.14);}
.dashboard .panel h3{margin-bottom:0;}
.dashboard .panel a:hover{text-decoration:none;}
.dashboard .panel-body{background:#fff; border:solid 1px #eee; border-bottom:0; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05); padding:15px 10px;}
.dashboard .panel-footer{font-size:20px; border-radius:0; boder:none;}
.bg-color-green .panel-footer{background:#5cb85c; color:#fff;}
.bg-color-green, .bg-color-green a{color: #5cb85c;}

.bg-color-blue .panel-footer{background:#4CB1CF; color:#fff;}
.bg-color-blue, .bg-color-blue a{color: #4CB1CF;}

.bg-color-red .panel-footer{background:#F0433D; color:#fff;}
.bg-color-red, .bg-color-red a{color: #F0433D;}

.bg-color-brown .panel-footer{background:#f0ad4e; color:#fff;}
.bg-color-brown, .bg-color-brown a{color: #f0ad4e;}


.white-box {background: #fff; padding: 15px;/* -webkit-box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.1), 0px 1px 5px 1px rgba(0, 0, 0, 0.2), 0px 2px 5px 1px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.1), 0px 1px 5px 1px rgba(0, 0, 0, 0.2), 0px 2px 5px 1px rgba(0, 0, 0, 0.2);*/ height:100%;}

.pagination-wrapper{text-align:right;}
.pagination{margin:0;}
.breadcrumb{margin:0; padding:20px; background: #f2f2f2; border-radius:0;}


.btn{border-radius:0; border:none; padding:5px 20px; font-size:16px;}
.btn-primary.btn-gray{ background-color:#666;}
.login-wrapper  .btn{ width:100%; border-radius:25px; padding:8px 10px; font-size:16px; margin-top:10px;}
.signup-wrapper  .btn{ width:100%; border-radius:25px; padding:8px 10px; font-size:16px; margin-top:10px;}


.mobile-menu, .desktop-menu{text-align:left; padding:20px; }
.mobile-menu i, .desktop-menu i{ color:#fff; font-size:24px; cursor:pointer;}

.login { background:url('../Content/images/login-bg.png') no-repeat;  height:100vh; width:100%; background-size:cover;}
.left-side-content-signup {   text-align: center;
    transform: translatey(90%);}

.login-form-add .input-group { margin-bottom:20px;}
/*.left-side-content-signup img { width:100%;}
.left-side-content img { width:100%;}*/
.left-side-content {
    text-align: center;
    transform: translatey(50%);
}
.form-horizontal .control-label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
	font-weight: normal;
} 
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	 -webkit-box-shadow: none; */
	 box-shadow: none; */
	 -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
.mt50{ margin-top:50px;}
.mt60{ margin-top:60px;}
.mt70{ margin-top:70px;}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #157405;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
 .login-form.login-form-add .input-group .form-control{
	display: table-cell;
	width: 100%;
	height: 35px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: none;
	*/ box-shadow: none;
	*/ -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	*/ -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.login-form.login-form-add .input-group { display:table;}
.table > thead > tr > th	{ background:rgba(0,0,0,0.1);padding:10px;}
.table > thead > tr > td, .table  > thead > tr > th { padding:10px;
	border-top:0 !important; border-left:0 !important; border-top:0 !important; border-bottom:0 !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 10px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 0;
}
.btn{ background-color:#00b336;}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left !important;
	padding: 6px 12px !important;
	margin-left: -1px !important;
	line-height: 1.42857143 !important;
	color: #00b336 !important;
	text-decoration: none !important;
	background-color: #fff !important;
	border: 1px solid #ddd !important;
}
.pagination > li.active > a, .pagination > li.active > span {background-color: #00b336 !important; color:#fff !important;
}
.table > tbody > tr > td .glyphicon { font-size:16px; margin-right:10px; color:#F44336;}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
	z-index: 2;
	color:#00b336;
	background-color: #eee;
	border-color: #ddd;
}
.table-striped > tbody > tr {
	background-color: #f1f1f1;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #fff;
}
.dsahboard-highlights { margin:0 15px;  background:#3decb1; padding:15px 15px 8px 15px; clear:both; overflow:hidden; margin-bottom:20px; 
color:#fff;}
.dsahboard-highlights span{ color:#000; font-size:16px;text-transform:uppercase; margin-left:10px;}
.dsahboard-highlights label{ color:#000; font-weight:normal;font-size:16px; text-transform:uppercase;}
.top-head  .dropdown-menu{ left:auto; right:10px;}
.top-head  .dropdown-menu li{ display:block; margin:0;}
.top-head  .dropdown-menu li a{ color: #000;padding: 7px;font-size: 15px;}
.top-head .dropdown-menu li a:hover , .top-head .dropdown-menu li a:focus, .top-head .dropdown-menu li a.active{ color:#fff;}
.caret-left { margin-left:8px;}



.company-profile-setting .nav-tabs { border-bottom: 2px solid #DDD; }
.company-profile-setting     .nav-tabs > li.active > a, .company-profile-setting .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
 .company-profile-setting   .nav-tabs > li > a { border: none; color: #666; }
 .company-profile-setting       .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.company-profile-setting        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
 .company-profile-setting   .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.company-profile-setting .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.company-profile-setting .tab-pane { padding: 15px 0; }
.company-profile-setting .tab-content{padding:20px}

.company-profile-setting .card {background: #FFF none repeat scroll 0% 0%;  margin-bottom: 30px; }

.social-sharing{padding-top:20px; color:#1f3b58; font-weight:500;}
.social-sharing li{display:inline-block; padding:0; padding-right:50px;}
.social-sharing img{vertical-align:middle; margin-right:5px;}

.radio input[type=radio] {
   visibility: hidden;
}   
.radio input + label::before {
    display:inline-block;
	width:14px;
	height:14px;
	background:url(../images/checkbox.png) no-repeat 0 0;
	content:'';
	vertical-align:middle;
	margin-right:7px;
	margin-bottom:.2em;
}

.radio input:checked + label::before {
    background-position:-14px 0;
}

.social-radio-button li {

	
	color: #000;
	font-size: 13px;
	
}
.social-radio-button ul{ margin:0; padding:0;}
.checkbox label, .radio label{ padding-left:0;}
.profile-image { width:100px; height:100px; border-radius:100px; border:1px #ccc solid; margin-top:10px; }
.img-circle { width: 95px;
height: 96px;object-fit: contain;}
.input-group.input-group-padding { margin-bottom:0;}
.company-profile .login-form.login-form-add .input-group {
	display: table;
	width: 100%;
} 
.company-profile .login-form .input-group-addon {
	padding: 6px 12px;
	position: absolute;
	z-index: 999;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #000;
	text-align: center;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	right: auto;
	top: 3px;
}
.company-profile .login-form .form-control{ padding-left:5px !Important;}
.company-profile  .login-form-add .input-group{ margin-bottom:0;}
.modal-dialog { width:500px; padding-top:5%; border-radius:0;}
.modal-header h5{ float:left;font-size:18px; color:#fff;}
.modal-footer { text-align:left;}
.modal-body{ padding:15px; font-size:14px;}
.modal-header { background:#607D8B;color:#fff;}
.modal-header .close { color:#fff; opacity:1;}
.modal-content {border-radius:0}
	.copy-right{ text-align: center;
color: #999;
font-size: 13px;}
.fa-5x {
	font-size: 4em;
}

.date-custom input{   width: 83%;
margin-left: 10px;
height: 33px;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #52b94a;
	border-color: #52b94a;
}
.btn.active.focus, .btn.active:focus, .btn.active:hover, .btn:active.focus, .btn:active:focus, .btn:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #52b94a;
	border-color: #52b94a;
}
.login-wrapper .panel-footer a{color:#52b94a;}
.btn:hover{background-color: #52b94a;}
.date-custom .btn { float:left; margin-left:20px;}
.date-custom { margin-bottom:20px;}
.date-style { display:inline-block; vertical-align:middle; position:relative; width:26%;}
.date-style.btn-left{ margin-left:-5px; width:10%;}
.date-style .fa {     position: absolute;
    right: 18px;
    top: 10px;
}
.date-custom  input.date-cst{  width: 83%;
    display: inline-block;
    vertical-align: middle;}
.date-style label	{    display: inline-block;
    /* max-width: 100%; */
    margin-bottom: 5px;
    font-weight: 700;
    width: 12%;
    vertical-align: middle;
}

.add-picker { position:relative;}
.add-picker:after  {content: "\f073";display: inline-block;

font: normal normal normal 14px/1 FontAwesome; position:absolute; top:0; right:0; padding-left:30px;}
.date-custom-pickers { margin-bottom:20px; clear:both;}
.date-custom-pickers {}
.btn-submit { margin-left:10px;}
.desktop-sidebar .wrapper  { background:none;}
.form-group-cu label input {
	margin-right: 10px;
}
.mb10{ margin-bottom:20px !important;}
.input-group-addonicon {display: inline-block;width: 90%;}
.input-group-id {display: inline-block;vertical-align: top;margin-left: 5px; position:relative; margin-top:7px}
.input-group-id  .fa{ font-size:16px; font-weight:normal; color:#fff; background:#6cca61;width:25px; cursor:pointer;height:25px; line-height:25px; text-align:center; border-radius:100px;}
.input-group-id	.help-center{
	position: absolute;
	width: 250px;
	z-index: 999;
	border: 1px #ccc solid;
	top: 100%;
	left: 0;
	background: #fff; 
	padding: 10px; visibility:hidden;
}
.breadcrumb > li a{ color:#6cca61;}
.input-group-id	.help-center p{ font-size:16px;}
.input-group-id:hover  .help-center{ visibility:visible;}
.help-center ul li{  font-size:13px; color:rgba(0,0,0,0.5);}
.input-group-id .help-center p.short-tag {font-size:13px; color:rgba(0,0,0,0.5);}
.help-center ul { margin:0 0 0 10px; padding:0;}
.pb30 { padding-bottom:50px;}
.image-section-about  img{ display:inline-block;  margin:0 auto;}

#loginbox .field-validation-error.text-danger {
    color: #f00;
    margin: 5px 0 0 15px;
    display: inline-block;
}

.forgot-password{text-align:right; display:block;}
.forgot-password a{color:#00b336;}
.mainbox .panel .alert {
	position: absolute;
	top: 10px;
	width: calc(100% - 40px);
	z-index: 999;
}

.mainbox .panel .alert-warning {
	  background-color: #fcf8e3;
    border-color: #faebcc;
	position: absolute;
	top: 10px;
	width: calc(100% - 40px);
	z-index: 999;
}
/*Signup Page css*/
.thanks-msg{margin:5% 0 10% 0;} 
.mainbox.mainbox-thanks .alert-success{position:static; padding:25px; max-width:500px; margin:0 auto; margin-bottom:30px;}
.mainbox.mainbox-thanks .alert-warning{position:static; padding:25px; max-width:500px; margin:0 auto; margin-bottom:30px;}
.mainbox.mainbox-thanks .alert-danger{position:static; padding:25px; max-width:500px; margin:0 auto; margin-bottom:30px;}
.mainbox-thanks .fa{font-size:6em;} 
.mainbox-thanks h2{margin:0; padding:0;} 
.mainbox-thanks .panel{padding:25px;} 
.mainbox-thanks .copy-right{margin-top:25px;}
.unauthorized-user{text-align:center;}
 .unauthorized-user .fa{font-size:6em;}

 #loginbox .fa{margin:10px 0;}
 .text-danger{color:#f00;}
 .step-title{padding:10px; padding-right:30px; display:inline-block; color:#333; background:#3decb1; margin-bottom:20px; position:relative; font-size:16px;}
    .step-title:after {width: 0; 
  height: 0; 
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  
  border-left: 21px solid #3decb1;
  position:absolute;
  right:-20px;
  top:0;
  content:'';
    }

    /*19-04-2018*/

.about-wrapper-cnt {
    max-width: 520px;
    margin: 0 auto;
    padding: 0 30px;
    background: #52b94a;
}

    .about-wrapper-cnt h2 {
        color: #3f3d3d;
        margin-top: 0;
        font-size: 32px;
    }

    .about-wrapper-cnt h3 {
        color: #3f3d3d;
        margin-top: 0;
        font-size: 25px;
        font-weight: 300;
    }

    .about-wrapper-cnt p {
        color: #ddf1da;
        font-size: 14px;
        padding: 20px 0;
        display: block;
    }

.support-about a {
    color: #ddf1da;
    font-size: 16px;
  
   
}
.support-about {
    text-decoration: underline; cursor:pointer;
}
.about-wrapper-cnt-outer {
    padding: 50px 0;
}
    
.thanks-msg.thanks-msg-popup { margin-bottom:6%;
}
.table.dataTable thead > tr > th { border:0;
}

.table.dataTable thead > tr > td { border:0;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th,
 .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {border:0;
}
.table-bordered { border:0;
}
btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #52b94a;
    border-color: #52b94a;
}
.help-group { position:relative;
}
.input-group-id {
    right: -20px; position:absolute;
    top: 6px;
    margin: 0;

}
.sslcheckbox
{
    margin:11px 0px 0px !important;
}
.Loader {
    display: block;
    position: absolute;
    top: 49.3%;
    left: 48.5%;
}
.LoaderPopup {
    display: block;
    float: right;
    z-index: 999999;
    color: black;
}

#form-nfrastructure .input-group-id{position:relative; margin:5px 0 0 5px; top:0; left:0;}
.input-group.input-group-ui-con {
    border: 1px solid #ccc; border-radius:25px;    padding: 6px;
}
    .input-group.input-group-ui-con .form-alter-gr {
        border: 0;
        border-radius: 0;
    }
.login-wrapper .btn {    background-color: #00b336 !important;
}
.signup-wrapper .btn{ background-color: #00b336 !important;}
}
.login-wrapper .btn:hover{
    background-color: #52b94a !important;
}

.signup-wrapper .btn:hover{
    background-color: #52b94a !important;
}
.form-group-contact-flag .intl-tel-input { padding-right:0;
}
.company-profile .login-form .form-group-contact-flag .form-control {
    padding-left:45px !important;
}

/**26-04-2018**/
.help-center .glyphicon {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 12px;
    background: #6cca61;
    color: #fff;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    top: 0;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}

.panel-title a {
    color: #777;
    font-family: 'Lato', sans-serif !important;
}

    .panel-title a:hover {
        text-decoration: none;
    }
.modal.modal-about-popups { padding:0;
}
    .modal.modal-about-popups .white-box {
        padding: 0;  background:#52b94a;
    }
    .modal.modal-about-popups .modal-body { padding:0;
    }
.support-about {
    color: #ddf1da;
}
.radio-cst-code input {    margin-right: 3px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
}
.radio-cst-code {     font-weight: normal;
    margin: 0px 0 0 0;
    vertical-align: top;
}
.backup-dis { font-size:16px;
}
.table-pup-wrap { overflow:auto; height:250px;
}
    .table-pup-wrap .table tr th,.table-pup-wrap .table tr td { padding:5px;
    }

.padding-left { padding-left:0 !important;
}
.mblockt-10 { padding-top:6px !important;
}
.job-portal-step3 .form-group { margin-bottom:10px !important;
}
.button-top { margin-top:10px; margin-bottom:10px;
}
.job-portal { overflow:hidden; clear:both;
}

.form-group-contact .form-alter-gr { width:100%;
}
/*css for cookies*/
.alert-cookies { position:absolute; top:20px; font-size:13px; z-index:999; background-color:#3decb1; width:97%;  padding:10px 10px 5px 10px;}
.alert-cookies .btn{ float: right; background-color:#f1f1f1;color:#333;
margin-top:0; }
.alert-cookies  p{ margin:5px 0 0 0;}
.alert-cookies-bottom {background-color:#3decb1;  padding:10px 10px 5px 10px; margin-bottom:0; border-radius:0; font-size:14px; line-height:normal;}
.alert-cookies-bottom .btn{ float: right; background-color:#f1f1f1;color:#333;
margin-top: 2px;}
.inntel-contact-no .intl-tel-input { padding-right:0;
}
}
 td a.details-control {
        background: url('../../Content/images/down-arrow.png') no-repeat center center;    
        cursor: pointer;
    }
 .btn.btn-primary.incomplete{padding:5px; font-size:12px; background:#dc3545; vertical-align:middle; margin-bottom:.5em;}
.help-center .glyphicon {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 12px;
    background: #6cca61;
    color: #fff;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    top: 0;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}

.panel-title a {
    color: #777;
    font-family: 'Lato', sans-serif !important;
}

    .panel-title a:hover, .panel-title a:focus {
        text-decoration: none;
        outline: none;
    }

.col-sm-31 .form-control {
    width: 90%;
}

.alert-cookies {
    position: absolute;
    top: 20px;
    font-size: 13px;
    z-index: 999;
    background-color: #3decb1;
    width: 97%;
    padding: 10px 10px 5px 10px;
}

    .alert-cookies .btn {
        float: right;
        background-color: #f1f1f1;
        color: #333;
        margin-top: 0;
    }

    .alert-cookies p {
        margin: 5px 0 0 0;
    }

.alert-cookies-bottom {
    background-color: #3decb1;
    padding: 10px 10px 5px 10px;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 14px;
    line-height: normal;
}

    .alert-cookies-bottom .btn {
        float: right;
        background-color: #f1f1f1;
        color: #333;
        margin-top: 2px;
    }

.help-list li {
    list-style: none;
    padding: 3px 0;
}

.help-message-instruction {
    margin: 15px 10px;
    display: inline-block;
    vertical-align: top;
}

.help-list ul {
    margin: 0;
    padding: 0;
}
.left-sidebar li.about_focus a:focus {
    background: none;
}

.time-dropdown .form-control{
font-size:12px;
padding-right:0;
}
.loader {
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 0;
    width: 100%;
    background: #00000029;
    height: 100%;
    right: 0;
}
.loaderImg {
   position: fixed;
    top: 50%;
    z-index: 999999;
    left: 50%;
    right: 50%;
}

.session-data{ background:#f2f2f2;}
.session-data h3{ background:#6cca61; padding:10px 10px; color:#fff;}
.deatil-log ul{ margin:0; padding:0;}
.deatil-log { padding:0 10px 20px 10px;}
.deatil-log ul li{ margin:0; padding:0; list-style:none; clear:both;}
.deatil-log ul li label{ font-weight:600; width:120px; float:left;}
.table-top { margin-top:40px;}
.table-top  .fa{ margin-right:10px; font-size:20px;}
.table-top  .fa-times-circle{ color:red;}
.table-top  .fa-check-circle{ color:green;}
.table-top  .fa-warning{ color:#f2c973;}
.page-heading.page-heading-0{ margin-bottom:20px;}
.job-session-time { background:#f2f2f2; overflow:hidden; clear:both; 
 }
.session-data {     float: left;
    width: 25%;
    margin: 15px 0 0 0;
}

.job-session-time h3{ 
    margin: 0;  background:#6cca61;
    padding: 7px 10px; color:#fff;
}
.deatil-log ul li span { color:rgba(51,51,51,0.8);
}
.page-heading  span{  font-size:20px;
}
.accordian-menu-style { background:#6cca61;}
.easytree-container {background:#6cca61;}
#restore   .left-sidebar{ margin-left:-220px;}
#restore.desktop-sidebar .left-sidebar {
    margin-left: 0;
}
#restore .wrapper{ background:none;}
#restore.desktop-sidebar .wrapper{background: #fff url(../images/bg-ting.png) repeat-y;}
.info-restore { margin:10px 0 20px 0; font-weight:bold;}
.restore-sidebar { width:345px; float:left;}
.restore-sidebar-content{ overflow:hidden; padding-left:40px;}
.easytree-container  .easytree-title{ color:#fff !important;}

.easytree-container  span.easytree-node:hover , .easytree-container  span.easytree-node:focus , .easytree-container  span.easytree-node:active {
    background-color: #00b336;
    border-color:transparent; 
} 
.ml-20{ margin-left:20px;}
.btn.btn-primary.btnPrevious {
 background-color: #666;
}



.table > tbody > tr > td .fa {

    font-size: 16px;
    margin-right: 10px;
    color: #00b336;

}
.mt-10-bl { margin-top:10px;}
.btn.btn-baadge {border-radius: 0;border:none; padding:3px 7px;font-size: 14px;}
.export-restore{padding:10px; background:#f1f1f1;}
button.close.close-about {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    margin-top: 10px;
    margin-right: 10px;
    opacity: 1;
    text-shadow: none;
}
.count-items-line {    display: inline-block;
    vertical-align: middle;
  
    background: #00b336;
    margin: 0 10px;
    clear: both;
    width: 260px;
  
    border-radius: 6px;
    height: 60px;
}

.count-item {  text-align:center; margin-top:20px;
}

.count-items-line  .count-no {     float: right;
    width: 100px;
    background: #6cca61;
    border-radius: 0px 6px 6px 0px;
    height: 60px;
    text-align: center;
    line-height: 65px;
    font-size:18px;
    color: #fff;
}
.count-items-line h2 {    float: left;
    margin: 0;
    font-size: 22px;
    padding: 18px 15px;
    color: #fff;
}
.count-items-line.count-items-line-red{background: #F0433D;}
    .count-items-line.count-items-line-red .count-no {
        background: #f06762;
    }